{% extends "base.html" %}

{% block title %}
 Bear Power
{% endblock %}


{% block body %}
<!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>What we offer</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
              <div>
                <h4 class="title"><a href="" class="stretched-link"> Solar Panel Installation</a></h4>
                <p class="description">Custom solar setups for homes and businesses, installed by certified professionals with efficiency and care.</p>
              </div>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-globe"></i></div>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Off-Grid Energy Solutions</a></h4>
                <p class="description">Stay powered even in remote areas with complete off-grid systems tailored to locations without reliable electricity.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-battery-charging"></i></div>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Battery Storage Systems</a></h4>
                <p class="description">Store excess energy for night use or cloudy days with high-performance solar batteries that keep you going 24/7.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-clipboard-data"></i></div>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Energy Audits & Site Assessments</a></h4>
                <p class="description">We evaluate your location and energy needs to design the most effective and efficient solar system for you.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-tools"></i></div>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Maintenance and Repair</a></h4>
                <p class="description">Keep your system performing at its best with regular checkups, technical support, and fast repairs when needed.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-plug"></i></div>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Solar instalation & Upgrade</a></h4>
                <p class="description">Ensure optimal power conversion with quality inverters — whether you're starting fresh or upgrading an older system.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->
    {% endblock %}